 *{
    font-family: 'Lato', sans-serif;
}

*,::after,::before{
    margin:0px;
    padding:0;
}

#home{
    height: 100vh;
    background-color: #332c38;
}

#home > nav{
    display:flex;
    justify-content: center;
    /* background-color: aqua; */
}

#home > nav > ul{
    list-style: none;
    display:flex;
    width: 70%;
}

#home > nav > ul > li{
    flex-grow:1;
    text-align: center;
    padding:12px 15px;
}

#home > nav > ul > li > a{
    color:white;
    text-decoration: none;
    font-size:1.5rem;
    transition: color 1s;
}

#home > nav > ul > li > a:hover{
    color:#f64c72;
}
#home .avatar{
    height: 100vh;
    display:flex;
}

#home .avatar > .left-block{
    flex:6;
    /* background-color: aqua; */
    display:flex;
    align-items: center;
    justify-content: center;
}

#home .avatar > .left-block > div > hr{
    border: 2px solid #f64c72;
    width: 20%;
} 


#home .avatar > .left-block > div > h1{
    font-size: 4rem;
    color: white;
} 

#home .avatar > .left-block > div > p{
    font-family: 'Lato', sans-serif;
    color:#f64c72;
    text-shadow: 1px 1px;
    font-size: 1.5rem; 
} 

#home .avatar > .left-block > div > button{
    padding: 10px 15px;
    margin-top:40px;
    margin-bottom:40px;
    font-size: 1.1rem;
    background-color: #332c38;
    color:white;
    border-radius: 5px;
    transition: background-color 1s, color 1s;
}

#home > .avatar .icon i{
    color:white;
    margin-right:50px;
    font-size: 2rem;
    transition: color 1s;
}

#home > .avatar .icon i:hover{
   color:#f64c72;
}

#home .avatar > .left-block > div > button:hover{
    background-color: #ffffff;
    color: #332c38;
}   

#home .avatar > .right-block{
    flex:4;
    /* background-color: green; */
    display:flex;
    align-items: center;
}

#home .avatar > .right-block > .frame{
    height: 400px;
    width: 400px;
    border: 3px solid #f64c72;
    border-radius: 10px;
}

#home .avatar > .right-block > .frame > img{
    margin-left:-30px;
    margin-top:-30px;
    width:400px;
    height: 400px;
    border-radius:10px;
}  

#about{
    background-color:#ffffff ;
    height: 60vh;
}

#about > .main{
    display:flex;
    height: 60vh;
}

#about > .main > .left-block{
    flex:1;
    /* background-color: aqua; */
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

#about > .main > .left-block > .frame{
   height: 300px;
   width: 300px;
   border:3px solid black;
   border-radius: 10px;
}

#about > .main > .left-block > .frame > img{
   height: 300px;
   width: 300px;
   border-radius: 10px;
   margin-left: 20px;
   margin-top: -20px;
}

#about > .main > .right-block{
    flex:1;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#about > .main > .right-block > div {
    width: 70%;
}

#about > .main > .right-block > div > h1{
    font-size: 2rem;
}

#about > .main > .right-block > div > hr{
    width: 10%;
    border: 2px solid #f64c72;
}

#about > .main > .right-block > div > p{
    margin-top: 15px;
}

#about > .main > .right-block > div > button{
    margin-top: 15px;
    background-color: #332c38;
    color:white;
    padding:10px 12px;
    border-radius: 5px;
    font-weight:bolder;
    transition: color 1s, background-color 1s;
}

#about > .main > .right-block > div > button:hover{
    color:#332c38;
    background-color: #ffffff;
}

#project{
    height: 100vh;
    background-color: #332c38;
}

#project > .header{
    /* background-color: aqua; */
    text-align: center;
    padding:30px;
}

#project > .header h1{
    font-size: 2rem;
    margin-bottom: 5px;
    color: #ffffff;
}

#project > .header > hr{
    border: 2px solid #f64c72;
    width: 5%;
    margin: auto;
}

#project > .body{
    background-color: aqua;
    height: 50vh;
    display: flex;
}

#project > .body > .left{
    width: 400px;
    background-color: brown;
    height: inherit;
    border: 1px solid wheat;
}

#project > .body > .left > img{
    width: 100%;   
}

#project > .body > .left > .left-body{
     text-align:center;
     padding: 30px; 
}

#project > .body > .left > .left-body > h3,p{
     margin-bottom: 10px;
}

#project > .body > .left > .left-body > .p2{
    text-align:left;
}

#project > .body > .left >.left-bottom{
    height: 65px;
    background-color: bisque;
    display:flex;
}

#project > .body > .left >.left-bottom >.left-bottom-first{
    flex:1;
    background-color: #f64c72;
    display:flex;
    justify-content: center;
    align-items: center;
}
#project > .body > .left >.left-bottom >.left-bottom-second{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}


