 *{
    font-family: 'Lato', sans-serif;
    
}

*,::after,::before{
    margin:0px;
    padding:0;
}

/* home */
#home{
    height: 100vh;
    background-color: #332c38;
}

#home > nav{
    display:flex;
    justify-content: center;
    /* background-color: aqua; */
}

#home > nav > ul{
    list-style: none;
    display:flex;
    width: 70%;
}

#home > nav > ul > li{
    flex-grow:1;
    text-align: center;
    padding:12px 15px;
}

#home > nav > ul > li > a{
    color:white;
    text-decoration: none;
    font-size:1.5rem;
    transition: color 1s;
}

#home > nav > ul > li > a:hover{
    color:#f64c72;
}
#home .avatar{
    height: 100vh;
    display:flex;
}

#home .avatar > .left-block{
    flex:6;
    /* background-color: aqua; */
    display:flex;
    align-items: center;
    justify-content: center;
}

#home .avatar > .left-block > div > hr{
    border: 2px solid #f64c72;
    width: 20%;
} 


#home .avatar > .left-block > div > h1{
    font-size: 4rem;
    color: white;
} 

#home .avatar > .left-block > div > p{
    font-family: 'Lato', sans-serif;
    color:#f64c72;
    text-shadow: 1px 1px;
    font-size: 1.5rem; 
} 

#home .avatar > .left-block > div > button{
    padding: 10px 15px;
    margin-top:40px;
    margin-bottom:40px;
    font-size: 1.1rem;
    background-color: #332c38;
    color:white;
    border-radius: 5px;
    transition: background-color 1s, color 1s;
}

#home > .avatar .icon i{
    color:white;
    margin-right:50px;
    font-size: 2rem;
    transition: color 1s;
}

#home > .avatar .icon i:hover{
   color:#f64c72;
}

#home .avatar > .left-block > div > button:hover{
    background-color: #ffffff;
    color: #332c38;
}   

#home .avatar > .right-block{
    flex:4;
    /* background-color: green; */
    display:flex;
    align-items: center;
}

#home .avatar > .right-block > .frame{
    height: 400px;
    width: 400px;
    border: 3px solid #f64c72;
    border-radius: 10px;
}

#home .avatar > .right-block > .frame > img{
    margin-left:-30px;
    margin-top:-30px;
    width:400px;
    height: 400px;
    border-radius:10px;
}  

@media screen and (max-width: 800px) {
    #home{
        height: 130vh;
    }
    #home > nav > ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        /* visibility: hidden; */
    }
    #home .avatar {
        display: flex;
        flex-direction: column;
    }
    #home .avatar > .right-block{
        display:flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width:400px){
    #home{
        height: 130vh;
    }
    #home > nav > ul{
        display:flex;
        flex-direction: column;
        justify-content: center;
        /* visibility: hidden; */
    }
    #home .avatar {
        display: flex;
        flex-direction: column;
    }
    #home .avatar > .right-block{
        display:flex;
        align-items: center;
        justify-content: center;
    }
}
/* about */
#about{
    background-color:#ffffff ;
    height: 60vh;
}

#about > .main{
    display:flex;
    height: 60vh;
    /* background-color: #92d4e4; */
}

#about > .main > .left-block{
    flex:1;
    /* background-color: aqua; */
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

#about > .main > .left-block > .frame{
   height: 300px;
   width: 300px;
   border:3px solid black;
   border-radius: 10px;
}

#about > .main > .left-block > .frame > img{
   height: 300px;
   width: 300px;
   border-radius: 10px;
   margin-left: 20px;
   margin-top: -20px;
}

#about > .main > .right-block{
    flex:1;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#about > .main > .right-block > div {
    width: 70%;
}

#about > .main > .right-block > div > h1{
    font-size: 2rem;
}

#about > .main > .right-block > div > hr{
    width: 10%;
    border: 2px solid #f64c72;
}

#about > .main > .right-block > div > p{
    margin-top: 15px;
}

#about > .main > .right-block > div > button{
    margin-top: 15px;
    background-color: #332c38;
    color:white;
    padding:10px 12px;
    border-radius: 5px;
    font-weight:bolder;
    transition: color 1s, background-color 1s;
}

#about > .main > .right-block > div > button:hover{
    color:#332c38;
    background-color: #ffffff;
}

@media screen and (max-width :800px){
    #about {
        height: 60vh;
    }
    #about > .main > .left-block{
        display: none;
    }
    #about > .main > .right-block > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40vh;
    }
}  

@media screen and (max-width :400px){
    #about {
        height: 60vh;
    }
    #about > .main > .left-block{
        display: none;
    }
    #about > .main > .right-block > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 40vh;
    }
}  


/* project */
#project{
    /* height: 100vh; */
    background-color: #332c38;
}

#project > .header{
    /* background-color: aqua; */
    text-align: center;
    padding:30px;
}

#project > .header h1{
    font-size: 2rem;
    margin-bottom: 5px;
    color: #ffffff;
}

#project > .header > hr{
    border: 2px solid #f64c72;
    width: 5%;
    margin: auto;
}

#project > .body{
    /* height: 100vh; */
    display:grid;
    grid-template-columns: 400px 400px 400px;
    grid-gap:30px;
    padding:40px;
    justify-content: space-evenly;
}

#project > .body > .block{
    background-color:#ffffff;
    border-radius: 20px;
    border:2px solid whitesmoke;
    
}


#project > .body > .block > img{
    width: 100%;
    border-radius: 20px 20px 0 0;
    height: 250px;
}

#project > .body > .block >.block-top{
    /* padding: 40px 20px; */
    height: 200px;
}
 
#project > .body > .block >.block-top> h2{
    text-align:center;
    margin: 20px;
}

#project > .body > .block >.block-top> small{
    display:flex;
    justify-content: center;
    margin: 20px;
}

#project > .body > .block >.block-top> p{
    text-align: left;
    padding: 0 25px 0 25px;
}

#project > .body > .block > .block-bottom{
    display:flex;
    margin-top:50px;
}

#project > .body > .block > .block-bottom > .block-bottom-first{
    flex:1;
    text-align:center;
    padding:15px;
    border-radius:  0 0 0 20px;
    background-color:#e9dbdb;
    transition: padding 1s;
}  

#project > .body > .block > .block-bottom > .block-bottom-first:hover{
    background-image: linear-gradient(to right,green,yellow);
    padding:20px;
    border-radius: 20px;
    color: white;
    margin-bottom:0;
}

#project > .body > .block > .block-bottom > .block-bottom-second{
    flex:1;
    text-align:center;
    padding:15px;
    border-radius: 0 0 20px 0;
    background-color:#e9dbdb;
    transition: padding 1s;
}

#project > .body > .block > .block-bottom > .block-bottom-second:hover{
    background-image: linear-gradient(to right,red,pink);
    padding:20px;
    border-radius: 20px;
    color: white;
}

@media screen and (max-width: 800px){
    #project > .body{
        /* height: 100vh; */
        display:flex;
        flex-wrap: wrap;
    }
    #project > .body > .block{
        width: 300px;
    }
}

@media screen and (max-width: 400px){
    #project > .body{
        /* height: 100vh; */
        display:flex;
        flex-wrap: wrap;
    }
    #project > .body > .block{
        width: 300px;
    }
}

/* skill */
#skill{
    background-color: #ffffff;
    /* height: 65vh; */
    }

#skill > .header{
    padding:30px;
    text-align: center;
}

#skill > .header > h1{
    font-size: 3rem;
}

#skill > .header > hr{
    border: 3px solid #f64c72;
    width: 40px;
    margin: auto;
}

#skill > .body {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

#skill > .body >.block {
    width: 300px;
    border: 3px solid black;
    border-radius: 15px;
    margin:50px;
}

#skill > .body >.block > .block-top{
    padding:10px;
    font-size: 2rem;
    text-align: center;
}

#skill > .body >.block > .block-bottom{
    display:flex;
    /* background-color: blanchedalmond; */
    height: 300px;
}

#skill > .body >.block > .block-bottom > .block-bottom-child{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#skill > .body >.block > .block-bottom > .block-bottom-child > p > i{
    font-size: 3rem;
}

@media screen and (max-width:800px){
    #skill > .body {
        display:flex;
        justify-content: center;
    }
}

@media screen and (max-width:400px){
    #skill > .body {
        display:flex;
        justify-content: center;
    }
}

/* timeline */
#timeline{
    background-color: #332c38;
}

#timeline > .header{
    color:white;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
    /* background-color: aqua; */
}

#timeline > .header h1{
    padding: 10px;
}

#timeline > .header hr{
    border: 3px solid #f64c72;
    width: 60px;
    margin:auto;   
}

#timeline > .body{
    padding: 50px;
    color:white;
}

#timeline > .body > .content{
      /* background-color:yellow; */
      width: 600px;
      height: 200px;
      margin: auto;
      border-right: 3px dashed yellow;
      border-bottom: 3px dashed yellow;
      border-radius: 0 0 20px 0;
      display: flex;
      align-items: center;
}

#timeline > .body > .content > .text{
    margin-left: 40px;
    margin-right:45px;
}

#timeline > .body > .content-2{
    border-left: 3px dashed  yellow;
    border-right:none;
    border-radius:20px 0 0 20px;
    position: relative;
    right:10px;
}

#timeline > .body > .content-2 >.text{
    margin-left: 45px;
}

#timeline > .body > .content-3{
    border-radius: 0 20px 20px 0;
    position: relative;
    left:10px;
}

#timeline > .body > .content-3 >.text{
    margin-left: 35px;
}

#timeline > .body > .content-6{
    border-left:3px dashed yellow;
    border-right:none;
    border-bottom: none;
    border-radius: 20px 0 0 0;
    position: relative;
    right:10px;
}

#timeline > .body > .content-6 >.text{
    margin-left: 45px;
}

@media screen and (max-width:800px){
    #timeline > .body > .content{
        width: 400px;
    }       
}  

@media screen and (max-width:400px){
    #timeline > .body > .content{
        width: 300px;
    }       
}   

/* blog */
#blog{
    background-color: #ffffff;
    /* height: 100vh; */
}

#blog > .header{
    padding: 20px;  
    text-align: center; 
}

#blog > .header h1{
    font-size: 3rem;
}

#blog > .header hr{
    border: 3px solid #f64c72;
    width: 40px;
    margin:auto;
}

#blog > .body{
   display:grid;
   grid-template-columns: 300px 300px 300px;
   justify-content: space-evenly;
   grid-gap: 40px;
   padding: 40px
}

#blog > .body a{
    text-decoration: none;
    color:black;
    background-color: #f1eded;
    border: 4px solid black;
    border-radius: 15px;
    /* height: 600px; */
 }
 
#blog > .body > a > .block > img{
    width: 100%;
    height: 200px;
    border-radius: 15px 15px 0 0;
 }

 #blog > .body > a > .block > .block-top  {
    height: 250px;
    padding: 20px;
}
 
 #blog > .body > a > .block > .block-top > .btn{
    background-color: #92d4e4;
    padding: 10px;
    display: inline-block;
    border-radius: 20px;
    margin-bottom:10px;
}

#blog > .body > a > .block > .block-top >h3  {
    margin-top:10px;
    margin-bottom:10px;   
} 

#blog > .body > a > .block > .block-bottom{
    display:flex;
    height: 75px;
    padding:10px;
}   

#blog > .body > a > .block > .block-bottom > .block-bottom-left{
    flex:1;
}   

#blog > .body > a > .block > .block-bottom > .block-bottom-left > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#blog > .body > a > .block > .block-bottom > .block-bottom-right{
    flex:4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}   

@media screen and (max-width: 800px){
    #blog > .body{
      display: flex;
      flex-wrap: wrap;
    }
    #blog > .body > a{
        width: 300px;
    }
    #blog > .body > a > .block{
        margin-bottom: 100px;
 } 
}

@media screen and (max-width: 400px){
    #blog > .body{
      display: flex;
      flex-wrap: wrap;
    }
    #blog > .body > a{
        width: 200px;
    }
    #blog > .body > a > .block{
        margin-bottom: 50px;
 } 
}

/* footer */
#footer{
    background-color: #332c38;
    color: white;
    padding: 30px;
}

#footer > .icon{
    text-align: center;
}

#footer > .icon > a{
    color: #ffffff;
    margin-right:50px;
    font-size: 1.5rem;
    transition: color 1s;
}

#footer > p{
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
}

#footer > .icon > a:hover{
    color:#f64c72;
}